<my-nx-app-header></my-nx-app-header>

<main>
  <div class="new-list">
    <form>
      <mat-form-field>
        <input type="text" matInput placeholder="Add New List" formControlName="username">
      </mat-form-field>
        <button type="submit" mat-button class="add-btn">Add</button>

    </form>
  </div>

  <div class="all-lists">
    <div class="list">
      <div class="list-header">
        <h2>My List</h2>
      </div>


      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>First</mat-card-title>
        </mat-card-header>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Second</mat-card-title>
        </mat-card-header>
      </mat-card>

      <div class="tools">
        <form>
          <mat-form-field>
            <input type="text" matInput placeholder="Add New Card" formControlName="username">
          </mat-form-field>
          <div class="button">
            <button type="submit" mat-button class="add-btn">Add</button>
          </div>

        </form>
      </div>
    </div>
    <div class="list">
      <div class="list-header">
        <h2>Your List</h2>
      </div>


      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>First</mat-card-title>
        </mat-card-header>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Second</mat-card-title>
        </mat-card-header>
      </mat-card>

      <div class="tools">
        <form>
          <mat-form-field>
            <input type="text" matInput placeholder="Add New Card" formControlName="username">
          </mat-form-field>
          <div class="button">
            <button type="submit" mat-button class="add-btn">Add</button>
          </div>

        </form>
      </div>
    </div>
    <div class="list">
      <div class="list-header">
        <h2>Final List</h2>
      </div>


      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>First</mat-card-title>
        </mat-card-header>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Second</mat-card-title>
        </mat-card-header>
      </mat-card>

      <div class="tools">
        <form>
          <mat-form-field>
            <input type="text" matInput placeholder="Add New Card" formControlName="username">
          </mat-form-field>
          <div class="button">
            <button type="submit" mat-button class="add-btn">Add</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</main>